h1 {
  color: rgb(46, 28, 113);
  font-weight: 500;
  font-style: italic;
  font-size: 48px;
  margin-bottom: 5px;
  text-align: center;
}

h2 {
  color: rgb(66, 66, 1);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: 700;
  margin-top: 60px;
  text-align: center;
  margin-bottom: 20px;
}

h3 {
  color: rgb(46, 28, 113);
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

p {
  font-weight: 400;
  font-size: 16px;
  color: rgb(66, 66, 1);
  text-align: center;
}

body {
  font-family: "Poppins", serif;
  background-color: rgba(228, 228, 130, 0.571);
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 20px 0px;
}

.container {
  padding: 10px 20px;
  background-color: white;
  border-radius: 50px;
  border: 2px solid rgb(46, 28, 113);
  display: block;
  margin: 0 10px;
}

img.image {
  max-width: 80%;
  display: block;
  margin: 0 auto;
}

img.icon {
  width: 80px;
  display: block;
  margin: 0 auto 70px;
}

.button {
  background-color: white;
  padding: 10px;
  display: block;
  margin: 5px auto;
  max-width: 100px;
  text-align: center;
  border: 2px solid rgb(46, 28, 113);
  border-radius: 30px;
  transition: 0.4s ease-in-out;
  text-decoration: none;
  color: rgb(46, 28, 113);
}

.button:hover {
  background-color: rgb(46, 28, 113);
  cursor: pointer;
  color: white;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.column {
  margin: 10px;
}

.column h2 {
  padding: 0 8px;
}

li {
  line-height: 40px;
}

.quote {
  font-size: 20px;
  margin: 50px;
}

.section {
  background-color: white;
  border-top: 1mm solid rgb(46, 28, 113);
  border-bottom: 1mm solid rgb(46, 28, 113);
}

.section ul {
  list-style: none;
}

footer {
  margin: 40px auto 10px;
  font-size: 12px;
  text-align: center;
}
